{% extends basetheme.admin %}

{% use "WildCatsAdminBundle:Default:navigation.html.twig" %}
{% use "WildCatsAdminBundle:Default:css.html.twig" %}
{% use "WildCatsAdminBundle:Default:js.html.twig" %}
{% use 'WildCatsAdminBundle:Crud:actionbar.html.twig' %}

{% block title %}
    {{ document_name }} {{action}}
{% endblock %}

{% block content %}
	<form action="{{ path('admin_' ~ document_name ~ '_update', { 'id': document.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	    {{ form_widget(edit_form) }}
	    <p>
	        <button type="submit">Edit</button>
	    </p>
	</form>
{% endblock content %}