{% extends basetheme.admin %}

{% use "WildCatsAdminBundle:Default:navigation.html.twig" %}
{% use "WildCatsAdminBundle:Default:css.html.twig" %}
{% use "WildCatsAdminBundle:Default:js.html.twig" %}
{% use 'WildCatsAdminBundle:Crud:actionbar.html.twig' %}

{% block title %}
    {{ document_name }} list
{% endblock %}

{% block content %}
    <table class="table records_list">
        <thead>
            <tr>
                {% for item in list %}
                    <th>{{ item }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                {% for item in list %}
                    <td>
                        {% if item == 'id' %}
                            <a href="{{ path('admin_' ~ document_name ~ '_edit', { 'id': document.id }) }}">{{ document.id }}</a>
                        {% elseif attribute(document, item).timestamp is defined %}
                            {{ attribute(document, item)|date('m/d/Y') }}
                        {% else %}
                            {{ attribute(document, item) }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}