{% extends basetheme.admin %}

{% use "WildCatsAdminBundle:Default:navigation.html.twig" %}
{% use "WildCatsAdminBundle:Default:css.html.twig" %}
{% use "WildCatsAdminBundle:Default:js.html.twig" %}
{% use 'WildCatsAdminBundle:Crud:actionbar.html.twig' %}

{% block title %}
    {{ document_name }} {{ action }}
{% endblock %}

{% block content %}
    <form action="{{ path('admin_' ~ document_name ~ '_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
{% endblock content %}