{% block form_row %}
{% spaceless %}
    <div class="form-group {{ errors|length > 0 ? 'error' : '' }}">
        {{ form_label(form) }}
        <div class="form-control">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}