{% extends 'WildCatsAdminBundle::base.html.twig' %}

{% block title %}
    Team edit
{% endblock %}
{% block content %}
    <form action="{{ path('admin_team_update', { 'id': document.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_team') }}">
                Back to the list
            </a>
        </li>
        <li>
            <form action="{{ path('admin_team_delete', { 'id': document.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}