{% extends 'WildCatsAdminBundle::base.html.twig' %}

{% block title %}
    Team list
{% endblock %}
{% block content %}
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Logo</th>
            <th>Responsables</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for document in documents %}
        <tr>
            <td><a href="{{ path('admin_team_show', { 'id': document.id }) }}">{{ document.id }}</a></td>
            <td>{{ document.name }}</td>
            {# <td>{{ document.logo }}</td> #}
            {# <td>{{ document.responsables }}</td> #}
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_team_show', { 'id': document.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_team_edit', { 'id': document.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_team_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
