{% extends 'WildCatsAdminBundle::base.html.twig' %}

{% block title %}
    Team creation
{% endblock %}
{% block content %}
	<form action="{{ path('admin_team_create') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <p>
	        <button type="submit">Create</button>
	    </p>
	</form>

	<ul class="record_actions">
	    <li>
	        <a href="{{ path('admin_team') }}">
	            Back to the list
	        </a>
	    </li>
	</ul>
{% endblock %}
