{% extends 'WildCatsAdminBundle::base.html.twig' %}

{% block title %}
    Team
{% endblock %}
{% block content %}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ document.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_team') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('admin_team_edit', { 'id': document.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <form action="{{ path('admin_team_delete', { 'id': document.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}
