{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

	<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

		 <div class="container">
		        <div class="row">
		            <div class="col-md-4 col-md-offset-4">
		                <div class="login-panel panel panel-default">
		                    <div class="panel-heading">
		                        <h3 class="panel-title">Please Sign In</h3>
		                    </div>
		                    <div class="panel-body">
		                        <form role="form">
		                            <fieldset>
		                                <div class="form-group">
		                                	
		                                    <input type="text" id="username" placeholder="Username" name="_username" value="{{ last_username }}" required="required" class="form-control"  name="username" type="username" autofocus>
		                                </div>
		                                <div class="form-group">
		                                	
		                                    <input type="password" id="password" placeholder="Password" name="_password" required="required" class="form-control"  name="password" type="password" value="">
		                                </div>
		                                <div>
		                                	<p>
		                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
   											</p>
		                                </div>
		                                <!-- Change this to a button or input when using this as a form -->
		                                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-lg btn-success btn-block"/>
		                            </fieldset>
		                        </form>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
 	</form>  
{% endblock fos_user_content %}