<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
            {% include 'WildCatsAdminBundle:Default:css.html.twig' %}
        {% endblock stylesheets %}  
        {% block javascripts %}
            {% include 'WildCatsAdminBundle:Default:js.html.twig' %}
        {% endblock javascripts %}
    </head>
    <body>
        {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
    </body>
</html>