{#{% use "WildCatsAdminBundle:Default:css.html.twig" %}#}

<!DOCTYPE html>
<html lang="php">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock title %}</title>
	
    {% block stylesheets %}
        {% include "WildCatsAdminBundle:Default:css.html.twig" %}
    {% endblock %}
</head>
    <body>
        <div id="wrapper">
            {% block navigation %}
                {% include "WildCatsAdminBundle:Default:navigation.html.twig" %}
            {% endblock navigation %}
            {% block flash %}
                {% include 'WildCatsAdminBundle:Default:flash.html.twig' %}
            {% endblock %}
            {% block breadcrumb %}
                {#{{ render(controller('WildCatsCoreBundle:Breadcrumbs:renderbymoduleaction')) }}#}
            {% endblock breadcrumb %}
            <div id="page-wrapper">
                <h1>{{ block('title') }}</h1>
                {% block actionbar %}{% endblock %}
        	    {% block content %}{% endblock content %}
            </div>
            {% block modals %}{% endblock modals %}
            {% block javascripts %}
                {% include "WildCatsAdminBundle:Default:js.html.twig" %}
            {% endblock javascripts %}
        </div>
    </body>
</html>