<h1>User list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Username</th>
            <th>Usernamecanonical</th>
            <th>Email</th>
            <th>Emailcanonical</th>
            <th>Enabled</th>
            <th>Salt</th>
            <th>Password</th>
            <th>Lastlogin</th>
            <th>Locked</th>
            <th>Expired</th>
            <th>Expiresat</th>
            <th>Confirmationtoken</th>
            <th>Passwordrequestedat</th>
            <th>Roles</th>
            <th>Credentialsexpired</th>
            <th>Credentialsexpireat</th>
            <th>Id</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for document in documents %}
        <tr>
            <td><a href="{{ path('user_show', { 'id': document.id }) }}">{{ document.username }}</a></td>
            <td>{{ document.usernameCanonical }}</td>
            <td>{{ document.email }}</td>
            <td>{{ document.emailCanonical }}</td>
            <td>{{ document.enabled }}</td>
            <td>{{ document.salt }}</td>
            <td>{{ document.password }}</td>
            <td>{% if document.lastLogin %}{{ document.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ document.locked }}</td>
            <td>{{ document.expired }}</td>
            <td>{% if document.expiresAt %}{{ document.expiresAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ document.confirmationToken }}</td>
            <td>{% if document.passwordRequestedAt %}{{ document.passwordRequestedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ document.roles }}</td>
            <td>{{ document.credentialsExpired }}</td>
            <td>{% if document.credentialsExpireAt %}{{ document.credentialsExpireAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ document.id }}</td>
            <td>{% if document.created %}{{ document.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if document.updated %}{{ document.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': document.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': document.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('user_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
