<h1>User</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Username</th>
            <td>{{ document.username }}</td>
        </tr>
        <tr>
            <th>Usernamecanonical</th>
            <td>{{ document.usernameCanonical }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ document.email }}</td>
        </tr>
        <tr>
            <th>Emailcanonical</th>
            <td>{{ document.emailCanonical }}</td>
        </tr>
        <tr>
            <th>Enabled</th>
            <td>{{ document.enabled }}</td>
        </tr>
        <tr>
            <th>Salt</th>
            <td>{{ document.salt }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ document.password }}</td>
        </tr>
        <tr>
            <th>Lastlogin</th>
            <td>{{ document.lastLogin|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Locked</th>
            <td>{{ document.locked }}</td>
        </tr>
        <tr>
            <th>Expired</th>
            <td>{{ document.expired }}</td>
        </tr>
        <tr>
            <th>Expiresat</th>
            <td>{{ document.expiresAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Confirmationtoken</th>
            <td>{{ document.confirmationToken }}</td>
        </tr>
        <tr>
            <th>Passwordrequestedat</th>
            <td>{{ document.passwordRequestedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ document.roles }}</td>
        </tr>
        <tr>
            <th>Credentialsexpired</th>
            <td>{{ document.credentialsExpired }}</td>
        </tr>
        <tr>
            <th>Credentialsexpireat</th>
            <td>{{ document.credentialsExpireAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Id</th>
            <td>{{ document.id }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ document.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ document.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit', { 'id': document.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('user_delete', { 'id': document.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
