{% extends "WildCatsAdminBundle::base.html.twig" %}

{% block content %}
<div class="row">
    
    <h1 class="page-header">Tree edit</h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{document.title}}
            </div>
            <div class="panel-body">
                <form role="form" action="{{ path('admin_tree_update', { 'id': document.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                    {{ form_widget(edit_form) }}
                    <p>
                        <button type="submit">Edit</button>
                    </p>
                </form>
                
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('admin_tree') }}">
                            Back to the list
                        </a>delete
                    </li>
                    <li>
                        <form action="{{ path('admin_tree_delete', { 'id': document.id }) }}" method="post">
                            {{ form_widget(delete_form) }}
                            <button type="submit">Delete</button>
                        </form>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}