{% extends "WildCatsAdminBundle::base.html.twig" %}

{% block content %}
<h1>Tree list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Path</th>
            <th>Parent</th>
            <th>Level</th>
            <th>Locktime</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for document in documents %}
        <tr>
            <td><a href="{{ path('admin_tree_edit', { 'id': document.id }) }}">{{ document.id }}</a></td>
            <td>{{ document.title }}</td>
            <td>{{ document.path }}</td>
            <td>{{ document.parent }}</td>
            <td>{{ document.level }}</td>
            <td>{% if document.lockTime %}{{ document.lockTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if document.created %}{{ document.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if document.updated %}{{ document.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_tree_edit', { 'id': document.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_tree_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}