{% extends "WildCatsAdminBundle::base.html.twig" %}

{% block content %}
<h1>Tree creation</h1>

<form action="{{ path('admin_tree_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_tree') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}