{% extends "WildCatsAdminBundle::base.html.twig" %}

{% block content %}
<h1>Tree</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ document.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ document.title }}</td>
        </tr>
        <tr>
            <th>Path</th>
            <td>{{ document.path }}</td>
        </tr>
        <tr>
            <th>Parent</th>
            <td>{{ document.parent }}</td>
        </tr>
        <tr>
            <th>Level</th>
            <td>{{ document.level }}</td>
        </tr>
        <tr>
            <th>Locktime</th>
            <td>{{ document.lockTime|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ document.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ document.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_tree') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_tree_edit', { 'id': document.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_tree_delete', { 'id': document.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}