{% block stylesheets %}
    {% stylesheets
        output='fonts/fontawesome-webfont.ttf'
        '@WildCatsCoreBundle/Resources/public/fonts/fontawesome-webfont.ttf'
    %}{% endstylesheets %}
    {% stylesheets
        output='fonts/glyphicons-halflings-regular.ttf'
        '@WildCatsCoreBundle/Resources/public/fonts/glyphicons-halflings-regular.ttf'
    %}{% endstylesheets %}
    {% stylesheets '@WildCatsCoreBundle/Resources/public/css/bootstrap.min.css' output='css/bootstrap.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% stylesheets '@WildCatsCoreBundle/Resources/less/font-awesome/font-awesome.less' output='css/font-awesome.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% stylesheets '@WildCatsCoreBundle/Resources/public/css/plugins/timeline.css' output='css/timeline.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% stylesheets '@WildCatsCoreBundle/Resources/less/sb-admin2/sb-admin2.less' output='css/sb-admin2.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% stylesheets '@WildCatsAdminBundle/Resources/less/styles.less' output='css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}