{% block flash %}
    <div class="flashbag">
        {% set flashes = app.session.flashbag.all() %}
        {% set css = {'error': 'danger', 'success': 'success', 'notice': 'info'} %}

        {% if flashes | length > 0 %}
            {% for type, messages in flashes %}
                {% for message in messages %}
                    <div data-dismiss="alert" aria-label="Close" class="alert alert-{{ css[type] }} fade">{{ message }}</div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock flash %}