{% block javascripts %}
    {% javascripts '@WildCatsCoreBundle/Resources/public/js/jquery-1.11.0.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
        {% javascripts '@WildCatsAdminBundle/Resources/public/js/jquery-ui.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@WildCatsCoreBundle/Resources/public/js/bootstrap.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts 
        '@WildCatsCoreBundle/Resources/public/js/plugins/metisMenu/metisMenu.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@WildCatsCoreBundle/Resources/public/js/sb-admin-2.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}