{% block javascripts %}
    {% javascripts '@WildCatsCoreBundle/Resources/public/js/jquery-1.11.0.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@WildCatsCoreBundle/Resources/public/js/bootstrap.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts 
        '@WildCatsCoreBundle/Resources/public/js/plugins/metisMenu/metisMenu.js'
        '@WildCatsCoreBundle/Resources/public/js/plugins/morris/raphael.min.js'
        '@WildCatsCoreBundle/Resources/public/js/plugins/morris/morris.min.js'
        '@WildCatsCoreBundle/Resources/public/js/plugins/morris/morris-data.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@WildCatsCoreBundle/Resources/public/js/sb-admin-2.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}