{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('wildcats_admin_index')}}">Test</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> {{app.user}} <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ path('admin_user_me') }}"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-group fa-fw"></i> Team <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href=""><i class="fa fa-group fa-fw"></i> Team <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href=""><i class="fa fa-list fa-fw"></i> List</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fa fa-plus fa-fw"></i> Create</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-user fa-fw"></i> Member <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href=""><i class="fa fa-list fa-fw"></i> List</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fa fa-plus fa-fw"></i> Create</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-calendar-o fa-fw"></i> Event <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href=""><i class="fa fa-list fa-fw"></i> List</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fa fa-plus fa-fw"></i> Create</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-calendar-o fa-fw"></i> Match <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href=""><i class="fa fa-list fa-fw"></i> List</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fa fa-plus fa-fw"></i> Create</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Administration<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="fa fa-user fa-fw"></i> User<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="{{ url('admin_user_home') }}"><i class="fa fa-list fa-fw"></i> List</a>
                                    </li>
                                    <li>
                                        <a href="{{ url('admin_user_new') }}"><i class="fa fa-plus fa-fw"></i> Créer</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-group fa-fw"></i> Group<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="{{ url('admin_group_home') }}"><i class="fa fa-list fa-fw"></i> List</a>
                                    </li>
                                    <li>
                                        <a href="{{ url('admin_group_new') }}"><i class="fa fa-plus fa-fw"></i> Créer</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
{% endblock %}